body {
  font: 20px Arial, sans-serif;
}

.navbar {
  background-color: #68A808;
}

.quem-somos {
  background-color: #c5c5c5;
  color: #404040;
}

.margin {
  padding-bottom: 50px;
  padding-top: 10px;
}

.parceiros {
  background-color: #c75645;
}

.servicos {
  background-color: #3585d5;
}

.bg-footer {
  background-color: #000000;
  color: #ffffff;
}